<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eking.apims.mapper.ApiBeanMapper">
  <resultMap id="BaseResultMap" type="org.eking.apims.model.ApiBean">
    <id column="API_ID" jdbcType="VARCHAR" property="apiId" />
    <result column="API_URI" jdbcType="VARCHAR" property="apiUri" />
    <result column="REQUEST_METHED" jdbcType="INTEGER" property="requestMethed" />
    <result column="INTRODUCTION" jdbcType="VARCHAR" property="introduction" />
    <result column="C_DATE" jdbcType="TIMESTAMP" property="cDate" />
    <result column="U_DATE" jdbcType="TIMESTAMP" property="uDate" />
    <result column="EXTN1" jdbcType="VARCHAR" property="extn1" />
    <result column="EXTN2" jdbcType="VARCHAR" property="extn2" />
    <result column="EXTN3" jdbcType="VARCHAR" property="extn3" />
    <result column="EXTN4" jdbcType="VARCHAR" property="extn4" />
    <result column="EXTN5" jdbcType="VARCHAR" property="extn5" />
    <result column="PARENT_PROJECT_ID" jdbcType="VARCHAR" property="parentProjectId" />
  </resultMap>
  <sql id="Base_Column_List">
    API_ID, API_URI, REQUEST_METHED, INTRODUCTION, C_DATE, U_DATE, EXTN1, EXTN2, EXTN3, 
    EXTN4, EXTN5, PARENT_PROJECT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_api_info
    where API_ID = #{apiId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_api_info
    where API_ID = #{apiId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.eking.apims.model.ApiBean">
    insert into t_api_info (API_ID, API_URI, REQUEST_METHED, 
      INTRODUCTION, C_DATE, U_DATE, 
      EXTN1, EXTN2, EXTN3, 
      EXTN4, EXTN5, PARENT_PROJECT_ID
      )
    values (#{apiId,jdbcType=VARCHAR}, #{apiUri,jdbcType=VARCHAR}, #{requestMethed,jdbcType=INTEGER}, 
      #{introduction,jdbcType=VARCHAR}, #{cDate,jdbcType=TIMESTAMP}, #{uDate,jdbcType=TIMESTAMP}, 
      #{extn1,jdbcType=VARCHAR}, #{extn2,jdbcType=VARCHAR}, #{extn3,jdbcType=VARCHAR}, 
      #{extn4,jdbcType=VARCHAR}, #{extn5,jdbcType=VARCHAR}, #{parentProjectId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.eking.apims.model.ApiBean">
    insert into t_api_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="apiId != null">
        API_ID,
      </if>
      <if test="apiUri != null">
        API_URI,
      </if>
      <if test="requestMethed != null">
        REQUEST_METHED,
      </if>
      <if test="introduction != null">
        INTRODUCTION,
      </if>
      <if test="cDate != null">
        C_DATE,
      </if>
      <if test="uDate != null">
        U_DATE,
      </if>
      <if test="extn1 != null">
        EXTN1,
      </if>
      <if test="extn2 != null">
        EXTN2,
      </if>
      <if test="extn3 != null">
        EXTN3,
      </if>
      <if test="extn4 != null">
        EXTN4,
      </if>
      <if test="extn5 != null">
        EXTN5,
      </if>
      <if test="parentProjectId != null">
        PARENT_PROJECT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="apiId != null">
        #{apiId,jdbcType=VARCHAR},
      </if>
      <if test="apiUri != null">
        #{apiUri,jdbcType=VARCHAR},
      </if>
      <if test="requestMethed != null">
        #{requestMethed,jdbcType=INTEGER},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="cDate != null">
        #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uDate != null">
        #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="extn1 != null">
        #{extn1,jdbcType=VARCHAR},
      </if>
      <if test="extn2 != null">
        #{extn2,jdbcType=VARCHAR},
      </if>
      <if test="extn3 != null">
        #{extn3,jdbcType=VARCHAR},
      </if>
      <if test="extn4 != null">
        #{extn4,jdbcType=VARCHAR},
      </if>
      <if test="extn5 != null">
        #{extn5,jdbcType=VARCHAR},
      </if>
      <if test="parentProjectId != null">
        #{parentProjectId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.eking.apims.model.ApiBean">
    update t_api_info
    <set>
      <if test="apiUri != null">
        API_URI = #{apiUri,jdbcType=VARCHAR},
      </if>
      <if test="requestMethed != null">
        REQUEST_METHED = #{requestMethed,jdbcType=INTEGER},
      </if>
      <if test="introduction != null">
        INTRODUCTION = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="cDate != null">
        C_DATE = #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uDate != null">
        U_DATE = #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="extn1 != null">
        EXTN1 = #{extn1,jdbcType=VARCHAR},
      </if>
      <if test="extn2 != null">
        EXTN2 = #{extn2,jdbcType=VARCHAR},
      </if>
      <if test="extn3 != null">
        EXTN3 = #{extn3,jdbcType=VARCHAR},
      </if>
      <if test="extn4 != null">
        EXTN4 = #{extn4,jdbcType=VARCHAR},
      </if>
      <if test="extn5 != null">
        EXTN5 = #{extn5,jdbcType=VARCHAR},
      </if>
      <if test="parentProjectId != null">
        PARENT_PROJECT_ID = #{parentProjectId,jdbcType=VARCHAR},
      </if>
    </set>
    where API_ID = #{apiId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.eking.apims.model.ApiBean">
    update t_api_info
    set API_URI = #{apiUri,jdbcType=VARCHAR},
      REQUEST_METHED = #{requestMethed,jdbcType=INTEGER},
      INTRODUCTION = #{introduction,jdbcType=VARCHAR},
      C_DATE = #{cDate,jdbcType=TIMESTAMP},
      U_DATE = #{uDate,jdbcType=TIMESTAMP},
      EXTN1 = #{extn1,jdbcType=VARCHAR},
      EXTN2 = #{extn2,jdbcType=VARCHAR},
      EXTN3 = #{extn3,jdbcType=VARCHAR},
      EXTN4 = #{extn4,jdbcType=VARCHAR},
      EXTN5 = #{extn5,jdbcType=VARCHAR},
      PARENT_PROJECT_ID = #{parentProjectId,jdbcType=VARCHAR}
    where API_ID = #{apiId,jdbcType=VARCHAR}
  </update>

</mapper>