<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eking.apims.common.mapper.ParamBeanMapper">
  <resultMap id="BaseResultMap" type="org.eking.apims.common.model.ParamBean">
    <id column="PARAM_ID" jdbcType="VARCHAR" property="paramId" />
    <result column="PARAM_NAME" jdbcType="VARCHAR" property="paramName" />
    <result column="PARAM_TYPE" jdbcType="INTEGER" property="paramType" />
    <result column="PARAM_INTRO" jdbcType="VARCHAR" property="paramIntro" />
    <result column="PARAM_VALUE" jdbcType="VARCHAR" property="paramValue" />
    <result column="C_DATE" jdbcType="TIMESTAMP" property="cDate" />
    <result column="U_DATE" jdbcType="TIMESTAMP" property="uDate" />
    <result column="EXTN1" jdbcType="VARCHAR" property="extn1" />
    <result column="EXTN2" jdbcType="VARCHAR" property="extn2" />
    <result column="EXTN3" jdbcType="VARCHAR" property="extn3" />
    <result column="EXTN4" jdbcType="VARCHAR" property="extn4" />
    <result column="PARENT_API_ID" jdbcType="VARCHAR" property="parentApiId" />
  </resultMap>
  <sql id="Base_Column_List">
    PARAM_ID, PARAM_NAME, PARAM_TYPE, PARAM_INTRO, PARAM_VALUE, C_DATE, U_DATE, EXTN1, 
    EXTN2, EXTN3, EXTN4, PARENT_API_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_param_info
    where PARAM_ID = #{paramId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_param_info
    where PARAM_ID = #{paramId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.eking.apims.common.model.ParamBean">
    insert into t_param_info (PARAM_ID, PARAM_NAME, PARAM_TYPE, 
      PARAM_INTRO, PARAM_VALUE, C_DATE, 
      U_DATE, EXTN1, EXTN2, 
      EXTN3, EXTN4, PARENT_API_ID
      )
    values (#{paramId,jdbcType=VARCHAR}, #{paramName,jdbcType=VARCHAR}, #{paramType,jdbcType=INTEGER}, 
      #{paramIntro,jdbcType=VARCHAR}, #{paramValue,jdbcType=VARCHAR}, #{cDate,jdbcType=TIMESTAMP}, 
      #{uDate,jdbcType=TIMESTAMP}, #{extn1,jdbcType=VARCHAR}, #{extn2,jdbcType=VARCHAR}, 
      #{extn3,jdbcType=VARCHAR}, #{extn4,jdbcType=VARCHAR}, #{parentApiId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.eking.apims.common.model.ParamBean">
    insert into t_param_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paramId != null">
        PARAM_ID,
      </if>
      <if test="paramName != null">
        PARAM_NAME,
      </if>
      <if test="paramType != null">
        PARAM_TYPE,
      </if>
      <if test="paramIntro != null">
        PARAM_INTRO,
      </if>
      <if test="paramValue != null">
        PARAM_VALUE,
      </if>
      <if test="cDate != null">
        C_DATE,
      </if>
      <if test="uDate != null">
        U_DATE,
      </if>
      <if test="extn1 != null">
        EXTN1,
      </if>
      <if test="extn2 != null">
        EXTN2,
      </if>
      <if test="extn3 != null">
        EXTN3,
      </if>
      <if test="extn4 != null">
        EXTN4,
      </if>
      <if test="parentApiId != null">
        PARENT_API_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paramId != null">
        #{paramId,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null">
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null">
        #{paramType,jdbcType=INTEGER},
      </if>
      <if test="paramIntro != null">
        #{paramIntro,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="cDate != null">
        #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uDate != null">
        #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="extn1 != null">
        #{extn1,jdbcType=VARCHAR},
      </if>
      <if test="extn2 != null">
        #{extn2,jdbcType=VARCHAR},
      </if>
      <if test="extn3 != null">
        #{extn3,jdbcType=VARCHAR},
      </if>
      <if test="extn4 != null">
        #{extn4,jdbcType=VARCHAR},
      </if>
      <if test="parentApiId != null">
        #{parentApiId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.eking.apims.common.model.ParamBean">
    update t_param_info
    <set>
      <if test="paramName != null">
        PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null">
        PARAM_TYPE = #{paramType,jdbcType=INTEGER},
      </if>
      <if test="paramIntro != null">
        PARAM_INTRO = #{paramIntro,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="cDate != null">
        C_DATE = #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uDate != null">
        U_DATE = #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="extn1 != null">
        EXTN1 = #{extn1,jdbcType=VARCHAR},
      </if>
      <if test="extn2 != null">
        EXTN2 = #{extn2,jdbcType=VARCHAR},
      </if>
      <if test="extn3 != null">
        EXTN3 = #{extn3,jdbcType=VARCHAR},
      </if>
      <if test="extn4 != null">
        EXTN4 = #{extn4,jdbcType=VARCHAR},
      </if>
      <if test="parentApiId != null">
        PARENT_API_ID = #{parentApiId,jdbcType=VARCHAR},
      </if>
    </set>
    where PARAM_ID = #{paramId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.eking.apims.common.model.ParamBean">
    update t_param_info
    set PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      PARAM_TYPE = #{paramType,jdbcType=INTEGER},
      PARAM_INTRO = #{paramIntro,jdbcType=VARCHAR},
      PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      C_DATE = #{cDate,jdbcType=TIMESTAMP},
      U_DATE = #{uDate,jdbcType=TIMESTAMP},
      EXTN1 = #{extn1,jdbcType=VARCHAR},
      EXTN2 = #{extn2,jdbcType=VARCHAR},
      EXTN3 = #{extn3,jdbcType=VARCHAR},
      EXTN4 = #{extn4,jdbcType=VARCHAR},
      PARENT_API_ID = #{parentApiId,jdbcType=VARCHAR}
    where PARAM_ID = #{paramId,jdbcType=VARCHAR}
  </update>
</mapper>