<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eking.apims.common.mapper.ProjectBeanMapper">
  <resultMap id="BaseResultMap" type="org.eking.apims.common.model.ProjectBean">
    <id column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
    <result column="SERVER_IP" jdbcType="VARCHAR" property="serverIp" />
    <result column="PORT" jdbcType="VARCHAR" property="port" />
    <result column="EXTN1" jdbcType="VARCHAR" property="extn1" />
    <result column="EXTN2" jdbcType="VARCHAR" property="extn2" />
    <result column="EXTN3" jdbcType="VARCHAR" property="extn3" />
    <result column="EXTN4" jdbcType="VARCHAR" property="extn4" />
    <result column="C_DATE" jdbcType="TIMESTAMP" property="cDate" />
    <result column="U_DATE" jdbcType="TIMESTAMP" property="uDate" />
  </resultMap>
  <sql id="Base_Column_List">
    PROJECT_ID, PROJECT_NAME, SERVER_IP, PORT, EXTN1, EXTN2, EXTN3, EXTN4, C_DATE, U_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_project_info
    where PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_project_info
    where PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.eking.apims.common.model.ProjectBean">
    insert into t_project_info (PROJECT_ID, PROJECT_NAME, SERVER_IP, 
      PORT, EXTN1, EXTN2, 
      EXTN3, EXTN4, C_DATE, 
      U_DATE)
    values (#{projectId,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{serverIp,jdbcType=VARCHAR}, 
      #{port,jdbcType=VARCHAR}, #{extn1,jdbcType=VARCHAR}, #{extn2,jdbcType=VARCHAR}, 
      #{extn3,jdbcType=VARCHAR}, #{extn4,jdbcType=VARCHAR}, #{cDate,jdbcType=TIMESTAMP}, 
      #{uDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.eking.apims.common.model.ProjectBean">
    insert into t_project_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="serverIp != null">
        SERVER_IP,
      </if>
      <if test="port != null">
        PORT,
      </if>
      <if test="extn1 != null">
        EXTN1,
      </if>
      <if test="extn2 != null">
        EXTN2,
      </if>
      <if test="extn3 != null">
        EXTN3,
      </if>
      <if test="extn4 != null">
        EXTN4,
      </if>
      <if test="cDate != null">
        C_DATE,
      </if>
      <if test="uDate != null">
        U_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="serverIp != null">
        #{serverIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="extn1 != null">
        #{extn1,jdbcType=VARCHAR},
      </if>
      <if test="extn2 != null">
        #{extn2,jdbcType=VARCHAR},
      </if>
      <if test="extn3 != null">
        #{extn3,jdbcType=VARCHAR},
      </if>
      <if test="extn4 != null">
        #{extn4,jdbcType=VARCHAR},
      </if>
      <if test="cDate != null">
        #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uDate != null">
        #{uDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.eking.apims.common.model.ProjectBean">
    update t_project_info
    <set>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="serverIp != null">
        SERVER_IP = #{serverIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        PORT = #{port,jdbcType=VARCHAR},
      </if>
      <if test="extn1 != null">
        EXTN1 = #{extn1,jdbcType=VARCHAR},
      </if>
      <if test="extn2 != null">
        EXTN2 = #{extn2,jdbcType=VARCHAR},
      </if>
      <if test="extn3 != null">
        EXTN3 = #{extn3,jdbcType=VARCHAR},
      </if>
      <if test="extn4 != null">
        EXTN4 = #{extn4,jdbcType=VARCHAR},
      </if>
      <if test="cDate != null">
        C_DATE = #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uDate != null">
        U_DATE = #{uDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.eking.apims.common.model.ProjectBean">
    update t_project_info
    set PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      SERVER_IP = #{serverIp,jdbcType=VARCHAR},
      PORT = #{port,jdbcType=VARCHAR},
      EXTN1 = #{extn1,jdbcType=VARCHAR},
      EXTN2 = #{extn2,jdbcType=VARCHAR},
      EXTN3 = #{extn3,jdbcType=VARCHAR},
      EXTN4 = #{extn4,jdbcType=VARCHAR},
      C_DATE = #{cDate,jdbcType=TIMESTAMP},
      U_DATE = #{uDate,jdbcType=TIMESTAMP}
    where PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </update>
</mapper>